.env
.env.*
!.env.example
!.env.sample
!.env.template

*.token
*.tokens
*.secret
*.secrets
*.key
*.pem
personal_access_token*
PERSONAL_ACCESS_TOKEN*
access_token*
pat.txt
token.txt

secrets/
.secrets/
credentials/
.credentials/

.git-credentials
.netrc

.vscode/settings.json
.idea/workspace.xml
